body {background-color:midnightblue}
h1 {color:blanchedalmond;font-family: Arial;text-align: center;, font-size:large;}
img {box-shadow: 0cm;align-self: center;}
p{font-size: medium; color:blanchedalmond}
ul {border: midnightblue;}
li{color: mintcream;}
tr{color: mintcream;}
#art-by-me {margin-left: 20%;}
.yellow {color: yellow}